In [3]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\jaskeerat\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in c:\users\jaskeerat\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\jaskeerat\anaconda3\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: numpy>=1.15 in c:\users\jaskeerat\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=0.24.0 in c:\users\jaskeerat\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\jaskeerat\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jaskeerat\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jaskeerat\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jaskeerat\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jaskeerat\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jaskeerat\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jaskeerat\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jaskeerat\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)

In [6]:
import yfinance as yf
start_date = '1990-01-01'
end_date = '2022-06-07'
ticker = 'AMZN'
data = yf.download(ticker, start_date, end_date)
data.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-31,116.279999,121.994499,115.675003,120.209503,120.209503,144634000
2022-06-01,122.255997,125.179001,120.622498,121.683998,121.683998,127528000
2022-06-02,121.683998,125.610001,120.044998,125.511002,125.511002,100560000
2022-06-03,124.199997,124.400002,121.046501,122.349998,122.349998,97604000
2022-06-06,125.250000,128.990005,123.809998,124.790001,124.790001,134937500

In [7]:
import yfinance as yf
import pandas as pd
start_date = '1990-01-01'
end_date = '2022-06-06'
tickers_list = ['AAPL','IBM','MSFT','WMT']
data = pd.DataFrame(columns=tickers_list)
for ticker in tickers_list:
    data[ticker] = yf.download(ticker, start_date, end_date)['Adj Close']
    
data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                AAPL        IBM      MSFT       WMT
Date
1990-01-02  0.265694  10.900913  0.387390  3.712150
1990-01-03  0.267477  10.998251  0.389573  3.712150
1990-01-04  0.268369  11.123388  0.401031  3.692456
1990-01-05  0.269261  11.095572  0.391210  3.653070
1990-01-08  0.271044  11.165096  0.397211  3.702303